<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<typeAliases>
		<package name="com.ycl.model"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/ycl/model/User.xml"/>
		<mapper resource="com/ycl/model/Address.xml"/>
		<mapper resource="com/ycl/model/Category.xml"/>
		<mapper resource="com/ycl/model/CarProduct.xml"/>
		<mapper resource="com/ycl/model/Product.xml"/>
		<mapper resource="com/ycl/model/Order.xml"/>
	</mappers>
</configuration>